In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

INPUT_PATH = Path("input")

In [2]:
df = pd.read_csv(INPUT_PATH / "day03_input.txt", header=None)
df[0] = df[0].str.replace(".", "0").str.replace("#", "1")
df

                                   0
0    0100000100100100001100000000010
1    0001000100000000010010100100000
2    1010001010000100000100100110011
3    0010010101000001001001001100000
4    0100000000001000011110011010010
..                               ...
318  0000010000101110001011101001001
319  0010100100100000001000000011000
320  0000010000000001000000110100001
321  0010101100001010000000000000001
322  0000010010000110000001100111000

[323 rows x 1 columns]

In [3]:
array = []

for index, row in df.iterrows():
    array_row = [int(x) for x in row[0]]
    array.append(array_row)
    
array = np.array(array)
array

array([[0, 1, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 1, ..., 0, 1, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 1, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0]])

In [4]:
array.shape

(323, 31)

In [5]:
def tree_count(right, down, array):
    width = array.shape[1]

    cursor = (0, 0)
    items = []
    count = 0

    while True:
        try:
            items.append(array[cursor])

            new_y = cursor[0] + down
            new_x = cursor[1] + right

            if new_x >= width:
                new_x -= width

            cursor = (new_y, new_x)
            count += 1
        except IndexError:
            break

    return np.sum(items)

In [6]:
tree_count(3, 1, array)

294

In [7]:
rights = [1, 3, 5, 7, 1]
downs = [1, 1, 1, 1, 2]

tree_counts = [tree_count(r, d, array) for r, d in zip(rights, downs)]
tree_counts

[75, 294, 79, 85, 39]

In [8]:
np.prod(tree_counts) # int32 overflow :(

1479596954

In [9]:
np.prod(tree_counts, dtype=np.int64)

5774564250

In [10]:
294 * 75 * 79 * 85 * 39

5774564250