In [1]:
import pandas as pd
import numpy as np
import re
from pathlib import Path

INPUT_PATH = Path("input")

In [2]:
# 128 rows, 8 columns (zero index)
# Seat ID = (row X 8) + column

In [3]:
def split_array(split, array):
    half = len(array) // 2
    if split in ["F", "L"]:
        return array[:half]
    else:
        return array[half:]

In [4]:
def code_lookup(code, n_rows=128, n_cols=8):
    row_search = code[:7]
    col_search = code[-3:]
    row_search, col_search

    rows = np.arange(n_rows)
    cols = np.arange(n_cols)

    for r in row_search:
        rows = split_array(r, rows)

    for c in col_search:
        cols = split_array(c, cols)

    seat_id = rows[0] * 8 + cols[0]
    return seat_id

In [5]:
code = "FBFBBFFRLR"

code_lookup(code)

357

In [6]:
df = pd.read_csv(INPUT_PATH / "day05_input.txt", header=None)
df["seat_id"] = df[0].apply(code_lookup)
df

              0  seat_id
0    BFBBBBFRLL      756
1    FBFBFFBRLL      332
2    BBFBBFBLRL      874
3    BFFFBBFLLR      561
4    BFFFFBBLRL      538
..          ...      ...
871  FFBBFFFRLR      197
872  BFFFFFFLRL      514
873  FFBBBFFLRR      227
874  FFFBFBBLLL       88
875  FFBFFFFLLR      129

[876 rows x 2 columns]

In [7]:
df["seat_id"].max()

930

# Part 2

In [8]:
df["seat_id"].min(), df["seat_id"].max()

(54, 930)

In [9]:
all_seats = np.arange(df["seat_id"].min(), df["seat_id"].max() + 1)

In [10]:
taken_seats = set(df["seat_id"])
all_seats = set(all_seats)

all_seats.difference(taken_seats)

{515}