In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

INPUT_PATH = Path("input")

In [2]:
df = pd.read_csv(INPUT_PATH / "day02_input.txt", header=None, delimiter=" |:|-", names=["Min_letters", "Max_letters", "Letter", "Gap", "Password"], engine="python")
del df["Gap"]
df

     Min_letters  Max_letters Letter             Password
0             13           17      s    ssssssssssssgsssj
1              7            9      p           pnlzhcppvl
2              5            6      z               zzbwrv
3              7           15      w     wwwwwcqwwwwwwwww
4              8            9      h           hhhhhhhhsh
..           ...          ...    ...                  ...
995           14           17      v    fgvvvvvvvvvvvjpvv
996            7            8      k             kndnqkkk
997            7           11      c  gfcbccccjvcskcmrcxc
998            4            5      n                ngtnr
999            3           12      k        mtcfszkdhkdkd

[1000 rows x 4 columns]

In [3]:
def count_letters(x):
    word = x["Password"]
    letter = x["Letter"]
    return word.count(letter)

count_letters(df.iloc[0])

15

In [4]:
df["Length"] = df["Password"].str.len()
df["Letter_counts"] = df.apply(count_letters, axis=1)
df

,Min_letters,Max_letters,Letter,Password,Length,Letter_counts
0,13,17,s,ssssssssssssgsssj,17,15
1,7,9,p,pnlzhcppvl,10,3
2,5,6,z,zzbwrv,6,2
3,7,15,w,wwwwwcqwwwwwwwww,16,14
4,8,9,h,hhhhhhhhsh,10,9
...,...,...,...,...,...,...
995,14,17,v,fgvvvvvvvvvvvjpvv,17,13
996,7,8,k,kndnqkkk,8,4
997,7,11,c,gfcbccccjvcskcmrcxc,19,9
998,4,5,n,ngtnr,5,2
999,3,12,k,mtcfszkdhkdkd,13,3

In [5]:
df["Pass"] = np.where((df["Letter_counts"] >= df["Min_letters"]) & (df["Letter_counts"] <= df["Max_letters"]), 1, 0)

In [6]:
df

,Min_letters,Max_letters,Letter,Password,Length,Letter_counts,Pass
0,13,17,s,ssssssssssssgsssj,17,15,1
1,7,9,p,pnlzhcppvl,10,3,0
2,5,6,z,zzbwrv,6,2,0
3,7,15,w,wwwwwcqwwwwwwwww,16,14,1
4,8,9,h,hhhhhhhhsh,10,9,1
...,...,...,...,...,...,...,...
995,14,17,v,fgvvvvvvvvvvvjpvv,17,13,0
996,7,8,k,kndnqkkk,8,4,0
997,7,11,c,gfcbccccjvcskcmrcxc,19,9,1
998,4,5,n,ngtnr,5,2,0
999,3,12,k,mtcfszkdhkdkd,13,3,1

In [7]:
# Answer
df["Pass"].sum()

546

In [8]:
# Part 2

In [9]:
def check_char1(x):
    pos = x["Min_letters"] - 1
    letter = x["Letter"]
    password = x["Password"]
    
    if password[pos] == letter:
        return 1
    else:
        return 0

    
def check_char2(x):
    pos = x["Max_letters"] - 1
    letter = x["Letter"]
    password = x["Password"]
    
    if password[pos] == letter:
        return 1
    else:
        return 0

In [10]:
df["pass1"] = df.apply(check_char1, axis=1)
df["pass2"] = df.apply(check_char2, axis=1)
df["pass3"] = df["pass1"] + df["pass2"]
df["pass3"].value_counts()

2    370
0    355
1    275
Name: pass3, dtype: int64

In [11]:
# Answer = 275